<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>shareImageFrist</string>
	<string>shareImageSecond</string>
	<string>shareImageThird</string>
	<string>shareImageFourth</string>
	<string>shareImageFifth</string>
</array>
</plist>
